<!-- Loop over each object in the comments array -->
{{#each this}}
<div class="card mt-2 mb-2 border-secondary">
  <div class="card-header">
    <!-- Pass time value to the helper functions -->
    <b>{{user.username}} :</b> {{format_date time}} at {{format_time time}}
  </div>
  <div class="card-body">
    <p class="card-text">{{comment_text}}</p>
  </div>
</div>
{{/each}}