<div class="card m-2">
  <div class="card-header">
    <h3> Your Dashboard </h3>
  </div>
  <main class="container container-fluid mt-5 mb-5">
  {{#each posts as |post| }}
  {{>post-info}}
  {{/each}}
</main>
  <div class="card-body text-center">
    <a href="/newpost" class="btn btn-danger m-3"> + New post </a>
  </div>
</div>