<!-- Masthead section-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class=" mx-auto my-0 mt-5">The Tech Blog</h1>
    </div>
  </div>
</header>
<main class="container container-fluid mt-5">
  <div class="card mb-2">
    <div class="card-header">
      <h2>Title</h2>
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-dark text-center"> Read more</a>
    </div>
    <div class="card-footer text-muted">
      author + date
    </div>
  </div>
  
  <div class="card mb-2">
    <div class="card-header">
      <h2>Title</h2>
    </div>
    <div class="card-body">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-dark text-center"> Read more</a>
    </div>
    <div class="card-footer text-muted">
      author + date
    </div>
  </div>

</main>