<!-- Masthead section-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class=" mx-auto my-0 mt-5">The Tech Blog</h1>
    </div>
  </div>
</header>
<main class="container container-fluid mt-5 mb-5">
  {{#each posts as |post| }}
  {{>post-info}}
  {{/each}}
</main>