<main class="login-form container container-fluid mt-5">
    <div class="card" style="width: 80%">
        <div class="card-header">
            <h3>Login</h3>
        </div>
        <!-- Render form partial -->
        {{> form}}
        <a href="/signup"> Don't Have an Account ? Sign Up </a>
    </div>
    </form>
    </div>
    </div>
</main>
<script src="/js/login.js"></script>