<main class="signup-form container container-fluid mt-5">
    <div class="card" style="width: 80%">
        <div class="card-header">
            <h3>Sign Up</h3>
        </div>
        {{> form}}
        <a href="/login"> Already Have an Account ? Login </a>
    </div>
    </form>
    </div>
    </div>
</main>
<script src="/js/signnup.js"></script>